:root{
    --chantilly:#FAF7F0;
    --Timberwolf:#D8D2C2;
    --copper-red:#B17457;
    --paynes-grey:#4A4947;
    /* --------------------------- */
    --peach-puff:#EDDFE0;
    --lavender-grey:#F5F5F7;
    --grey:#B7B7B7;
    --antique-brass:#705C53;
    /* --------------------------- */
    --dark-blue:#384B70;
    --blue-green:#507687;
    --light-white:#FCFAEE;
    --deep-red:#B8001F;
}
*{
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
}
body{
    background-color: var(--dark-blue);
}
.dark-blue-color{
    color: var(--dark-blue);
}
.blue-green-color{
    color: var(--blue-green);
}
.deep-red-color{
    color: var(--deep-red);
}
.blue-green-bgcolor{
    background-color: var(--blue-green);
}

.light-white-color{
    color:var(--light-white);
}
.antique-brass-bgcolor{
    background-color: var(--antique-brass);
}
.lavender-grey-color{
    color: var(--lavender-grey);
}
.peach-puff-color{
    color: var(--peach-puff);
}
.grey-color{
    color: var(--grey);
}
.paynes-grey-color{
    color:var(--paynes-grey);
}
.pt-15{
    padding-top: 13%;
}
.services-card{
    backdrop-filter: opacity(20%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.services-card img,.services-card h1{
    filter: none;
}
@media screen and (max-width: 1000px){
    img.home-img{
        width: 300px;
        height: 300px;
    }
    .home-container{
        text-align: center;
    }
}